@import url('https://fonts.googleapis.com/css2? family= Poppins:wght@500 & display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* a{
    list-style: none;
} */

.nav{
    display: flex;
    justify-content: space-between;
    height: 7vh;
    width: 80%;
}
.logo{
    width: 20%;
}
.nav_bar{
    width: 80%;
    display: flex;
    justify-content: space-around;
}
.footer{
    flex-direction: column;
}
